.CalculatorBoard {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  height: 500px;
  min-height: 500px;
  max-height: 500px;
  width: 350px;
  min-width: 350px;
  max-width: 350px;
  overflow: hidden;
}
